# =========================
# Git
# =========================
.git/
.gitignore
.gitattributes

# =========================
# Environment files
# =========================
.env
.env*

# =========================
# Python
# =========================
.venv/
venv*/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# Django
# =========================
db.sqlite3
staticfiles/
mediafiles/

# =========================
# Chroma / Vector DB
# =========================
chroma_db/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Docker
# =========================
Dockerfile*
docker-compose*.yml
.dockerignore

# =========================
# IDE
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
