# Git
.git

# Python
.venv/
venv/
__pycache__/
*.pyc

# Database
db.sqlite3

# Chroma
chroma_db/

# Logs
logs/

# Media
mediafiles/

# Frontend
frontend/node_modules/
frontend/.next/

# IDE
.idea/
.vscode/

# macOS
.DS_Store