# =========================
# Python
# =========================
.venv/
.venv*/

venv/
venv*/

__pycache__/
*.py[cod]

# Database
*.sqlite3

# Environment
.env
.env*

# =========================
# Django
# =========================
static/
staticfiles/

media/
mediafiles/

# Logs
logs/
*.log

# Cache
.pytest_cache/
.coverage
.mypy_cache/

# Chroma
chroma_db/
data/

# IDE
.idea/
.vscode/

# =========================
# Next.js
# =========================
frontend/node_modules/
frontend/.next/
frontend/out/

# Turbopack
frontend/.turbo/

# TypeScript
frontend/*.tsbuildinfo

# Vercel
frontend/.vercel/

# OS
.DS_Store
Thumbs.db
