# =========================
# Python
# =========================
.venv/
.venv*/

venv/
venv*/

__pycache__/
*.py[cod]

# Database
*.sqlite3

# Environment
.env
.env*

# =========================
# Django
# =========================
static/
staticfiles/

media/
mediafiles/

# Logs
logs/
*.log

# Cache
.pytest_cache/
.coverage
.mypy_cache/

# Chroma
chroma_db/
data/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
