Django==6.0.7
djangorestframework
django-cors-headers
djangorestframework-stubs
langchain
langchain-community
langchain-chroma
langchain-ollama
chromadb
pypdf
python-dotenv
sentence-transformers
django-environ
django_extensions
drf_spectacular
pillow
python-decouple
gunicorn